* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b141a;
  height: 100vh;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #202c33;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

#chat {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.msg {
  display: inline-block;
  padding: 10px 12px;
  margin: 6px 10px;
  border-radius: 12px;
  color: white;
  max-width: 60%;
  width: fit-content;
  word-wrap: break-word;
  white-space: pre-wrap;
  animation: fadeIn 0.2s ease-in;
}

.user {
  background: #005c4b;
  align-self: flex-end;
}

.bot {
  background: #202c33;
  align-self: flex-start;
}

.input-box {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #202c33;
  gap: 10px;
  flex-shrink: 0; /* 🔥 CLAVE */
}

input {
  flex: 1;
  height: 40px;
  padding: 0 12px;
  border: none;
  outline: none;
  background: #2a3942;
  color: white;
  border-radius: 8px;
  font-size: 14px;
}

button {
  height: 40px;
  padding: 0 16px;
  background: #00a884;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}